
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page for My Controller</title>
</head>
<body>
    <h1>My Controller Index</h1>

    @*@Html.Partial("MyPartialView") - obsolete *@

    <partial name="MyPartialView" />

    @await Html.PartialAsync("MyPartialView")
</body>
</html>
