@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">one</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">two</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">three</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">four</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">five</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">six</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">seven</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">eight</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">nine</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">ten</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">eleven</div>
        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">twelve</div>
    </div>

</div>


@section mysection {
    <div>this is from the index view</div>
}
